{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="entry-list article">
        <article>
            <h1>Title: {{ entry.title }}</h1>
            <h3><time datetime="entry.entry_date">Created on: {{ entry.entry_date}}</time></h3>
            <div class="entry">
                <h3>Time Spent: </h3>
                <p>{{ entry.time_spent }}</p>
            </div>
            <div class="entry">
                <h3>Things Learned:</h3>
                <p>{{ entry.learned }}</p>
            </div>
            <div class="entry">
                <h3>Resources to Remember:</h3>
                <ul>                  
                    <li>{{ entry.resources }}</li>
                </ul>
            </div>
        </article>
        <div class="row-fluid">
            <a href="{{ url_for('edit', entry_id=entry.id) }}" class="button" title="Edit entry">Edit Entry</a>
            <br>
            <br>
            <a href="{{ url_for('delete', entry_id=entry.id) }}" class="button" title="Delete">Delete Entry</a>
        </div>
    </div>
</div>
{% endblock %}