{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="container">
    <div class="edit-entry">
        <h2>Edit Entry</h2>
        <form method="POST" action="" class="edit-entry">
            {{ updated_form.hidden_tag() }} 
            {% for field in updated_form %}
                {{ render_field(field) }}
            {% endfor %}
            <p><button type="submit" id='submit' class="button">Save Edited Entry</button></p>
        </form>    
    </div>
</div>
{% endblock %}       


                 