{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<section>
    <div class="container">
        <div class="new-entry">
            <h2>New Entry</h2>
            <form method="POST", action="" class="new-entry">
                {{ entry_form.hidden_tag() }}
                {% for field in entry_form %}
                    {{ field.label }}
                    {{ render_field(field) }}                          
                {% endfor %}
                <div class="container">
                    <button type="submit" id="submit" class="button">Publish Entry</button>
                <br>
                <br>
                <a href="{{ url_for('index') }}" class="button">Cancel Entry</a>
                </div>
            </form>    
        </div>
    </div>
</section>
{% endblock %}